<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>Motion Usage Description</key>
	<string>需要使用動作感應來呈現卡片 3D 效果</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要存取您的照片來製作卡片</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1088239641562-6fh4052uvc4c30sgatuea172tfiho9rs</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
